/* Grid & page layout */

body{

    position:relative;

    padding-top:90px;
}

/* Navbar Layout */
.navbar{

    width:100%;

    position:fixed;

    top:0;

    left:0;

    z-index:1000;

    padding:20px 60px;

    display:flex;

    justify-content:space-between;

    align-items:center;
}

/* Hero Layout */
.hero{

    max-width:1400px;

    margin:auto;

    padding:60px;
}

/* Dashboard Grid */
.dashboard-grid{

    max-width:1400px;

    margin:auto;

    padding:40px 60px;

    display:grid;

    grid-template-columns:
        repeat(2,1fr);

    gap:25px;
}