/* Mobile & tablet responsiveness */

@media(max-width:768px){

    .dashboard-grid{

        grid-template-columns:
            1fr;

        padding:20px;
    }

    .navbar{

        padding:20px;
    }

    .hero{

        padding:20px;
    }
}