:root {

    --primary: #6366F1;
    --secondary: #8B5CF6;
    --accent: #06B6D4;

    --success: #22C55E;
    --warning: #F59E0B;
    --danger: #EF4444;

    --bg-primary: #0F172A;
    --bg-secondary: #111827;

    --card-bg: rgba(255,255,255,0.08);

    --border-color: rgba(255,255,255,0.15);

    --text-primary: #FFFFFF;
    --text-secondary: #CBD5E1;

    --radius: 20px;

}